<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "the" %> <%= link_to t("ruby_on "), Settings.rails_home %><%= t "part" %>
  <%= link_to t("learn_enough"), Settings.rails_learnenough %>
  <%= t "family" %>, <%= t "is_a" %>
  <%= link_to t("book"), Settings.rails_book %> <%= t "and" %>
  <%= link_to t("screencast_series"), Settings.rails_screencast %>
  <%= t "to_teach" %>
  <%= link_to t("rubyonrails_s"), Settings.rails_rubyonrails %>.
  <%= t "this_is" %>.
</p>
