<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get" %>
  <%= link_to t("rails_help"), Settings.rails_help %>.
  <%= t "to" %>
  <%= link_to t("ruby_on"), Settings.rails_book %>
</p>
